@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/*How can we help? (CSS)*/
.faq-title p {
    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 1.82vw;
    color: rgba(45, 59, 76, 1);
    text-align: center;
}

/*CSS for Help Icon Box*/
.faq-help {
    width: 47.98vw;
    height: 13.15vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.89vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.faq-box {
    width: 15.3vw;
    height: 100%;
    border-radius: 0.98vw;
    position: relative;
}

.faq-box:hover {
    transform: scale(0.9, 0.9);
}

/*Account Setup Div*/
.faq-box .account-setup {
    width: 11.59vw;
    height: 9.77vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.69vw;
    margin-bottom: 1.69vw;
    text-align: center;
    cursor: pointer;
}

/*enrollment div css*/
.faq-box .enrollment {
    width: 11.59vw;
    height: 9.77vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.69vw;
    margin-bottom: 1.69vw;
    text-align: center;
    cursor: pointer;
}

/*troubleshooting div css*/
.faq-box .troubleshooting {
    width: 11.59vw;
    height: 9.77vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.69vw;
    margin-bottom: 1.69vw;
    text-align: center;
    cursor: pointer;
}

/*When mouse over the faq-box, overlay effect show*/
.overlay {
    position: absolute;
    opacity: 0;
    transition: .5s ease;
    background-color:rgba(45, 59, 76, 1);
    width: 15.3vw;
    height: 100%;
    border-radius: 0.98vw;
    top: 0;
    left: 0;
}
  
.account-setup:hover .overlay {
    opacity: 1;
}

.enrollment:hover .overlay {
    opacity: 1;
}

.troubleshooting:hover .overlay {
    opacity: 1;
}

/*Words inside overlay*/
.overlay p {
    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 1.17vw;
    color: white;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 1vw;
}

.questions {
    width: 14vw;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    word-wrap: break-word;
}

.overlay a {
    text-decoration: none;
    font-size: 0.85vw;
    font-weight: 400;
    color: white;
    font-family: nunito;
    text-align: center;
}

.overlay a:hover {
    color: rgba(255, 107, 88, 1);
}

/*Icon Size*/
.faq-box i {
    font-size: 4vw;
    color: #2D3B4C;
}

/*Account Setup, Enrollment and Trouble Shooting CSS*/
.faq-box h1 {
    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 1.17vw;
    color: rgba(45, 59, 76, 1);
    margin-top: 0.72vw;
}

.faq-box h2 {
    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 0.91vw;
    color: rgba(128, 128, 128, 1);
    margin-top: 0.33vw;
    margin-bottom: 0;
}

/*FAQ Words Css*/
.faq-word {
    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 2.21vw;
    color: rgba(45, 59, 76, 1);
    text-align: center;
    margin-top: 3.58vw;
    margin-bottom: 1.43vw;
}

/*FAQ container div css*/
.faq-container {
    width: 60vw;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(226, 226, 226, 1);
    border-radius: 0.33vw;
    margin-bottom: 8vw;
}   

.faq-content {
    padding: 1.3vw 1.63vw 1.63vw;
 }
 
::-webkit-details-marker{
    float: right;
    margin-top: 0.33vw;
}

/*Question and FAQ answeer*/
details{
    background:white;
    padding: 1vw 1.95vw;
    border-radius: 0.33vw;
    margin-top: 1.3vw;
    font-family: nunito;
    font-weight: 400;
    font-size: 1.17vw;
    cursor: pointer;
    color:rgba(45, 59, 76, 1);
}
 
details summary{
    outline: none;
}
 
details li {
   font-family: nunito;
   font-weight: 400;
   font-size: 0.91vw;
   line-height: 1.5em;
   margin-top: 0.5vw;
}

details ul {
    font-family: nunito;
    font-weight: 400;
    font-size: 0.91vw;
    line-height: 1.5em;
}

/*summary active and hover words */
#faq-question:hover {
    color: rgba(255, 107, 88, 1);
}

#faq-question:focus {
    color: rgba(255, 107, 88, 1);
    font-weight: 400;
    font-family: nunito;
}

details:target {
    color: rgba(255, 107, 88, 1);
    font-style: normal;
    font-weight: bold;
}

html {
    scroll-behavior: smooth;
}

